pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.DS_Store
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
*.class
/.lein-*
/.nrepl-port

.ruby-gemset
.ruby-version