{
  :user-id "slack-1960-01-04"
  :org-id "slack-98765"
  :name "camus"
  :first-name "Albert"
  :last-name "Camus"
  :real-name "Albert Camus"
  :avatar "http://www.brentonholmes.com/wp-content/uploads/2010/05/albert-camus1.jpg"
  :email "albert@combat.org"
  :owner true
  :admin true
  :bot {:id "abc" :token "xyz"}
  :auth-source "slack"
}