{
  :user-id "325d-43ec-ae5d"
  :teams ["4bf7-4090-9a8c"]
  :name "Albert Camus"
  :first-name "Albert"
  :last-name "Camus"
  :avatar-url "http://www.brentonholmes.com/wp-content/uploads/2010/05/albert-camus1.jpg"
  :email "albert@combat.org"
  :bot {"4bf7-4090-9a8c": {:id "abc" :token "xyz"}}
  :auth-source "slack"
}