{
  :user-id "0e32-4d9c-95f5"
  :teams ["d0a6-4d51-bf42"]
  :name "Nietzsche"
  :first-name "Friedrich"
  :last-name "Nietzsche"
  :avatar-url "https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Nietzsche187a.jpg/220px-Nietzsche187a.jpg"
  :email "superman@unibas.ch"
  :auth-source "email"
}