{
  :user-id "a79e-4c08-b906"
  :teams ["41aa-4e2c-a18e"]
  :name "Sartre"
  :first-name "Jean-Paul"
  :last-name "Sartre"
  :avatar-url "http://existentialismtoday.com/wp-content/uploads/2015/11/sartre_22.jpg"
  :email "sartre@lyceela.org"
  :bot {"41aa-4e2c-a18e" {:id "abc" :token "xyz"}}
  :auth-source "slack"
}