{
  :user-id "7699-4e86-81e9"
  :teams ["23e1-45dc-b2b2"]
  :name "Sean Johnson"
  :first-name "Sean"
  :last-name "Johnson"
  :avatar-url "https://secure.gravatar.com/avatar/f5b8fc1affa266c8072068f811f63e04.jpg?s=192&d=https%3A%2F%2Fslack.global.ssl.fastly.net%2F7fa9%2Fimg%2Favatars%2Fava_0020-192.png"
  :email "sean@opencompany.com"
  :auth-source "slack"
}