{
  :user-id "3b15-417d-b903"
  :teams ["d0a6-4d51-bf42"]
  :name "Simone de Beauvoir"
  :first-name "Simone"
  :last-name "de Beauvoir"
  :avatar-url "https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/Simone_de_Beauvoir.jpg/220px-Simone_de_Beauvoir.jpg"
  :email "simone@lyceela.org"
  :auth-source "email"
}