{
  :user-id "email-a395-4a4f"
  :org-id "email-a12c-4f8d"
  :name "Simone"
  :first-name "Simone"
  :last-name "de Beauvoir"
  :real-name "Simone de Beauvoir"
  :avatar "https://en.wikipedia.org/wiki/File:Simone_de_Beauvoir.jpg"
  :email "simone@lyceela.org"
  :auth-source "email"
}