{
  :user-id "email-6789-0123"
  :org-id "email-1234-5678"
  :name "Simone"
  :first-name "Simone"
  :last-name "de Beauvoir"
  :real-name "Simone de Beauvoir"
  :avatar "https://en.wikipedia.org/wiki/File:Simone_de_Beauvoir.jpg"
  :email "simone@lyceela.org"
  :auth-source "email"
}