(ns oc.auth.db.migrations.add-labels-tooltip-tag
  (:require [rethinkdb.query :as r]
            [oc.lib.db.migrations :as m]
            [oc.auth.config :as config]
            [oc.auth.resources.user :as user-res]))

(defn up [conn]
  ;; Do great things
  (user-res/tag-all-active-users! conn :labels-tooltip)
  true) ; return true on success